In [148]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [149]:
df = pd.read_csv("/media/prince/5A4E832F4E83034D/testing /test.csv")

In [150]:
df.columns

Index(['longitude', 'latitude', 'population', 'median_income',
       'ocean_proximity', 'land_value', 'population_range'],
      dtype='object')

In [151]:
# df['population'].describe()
df.drop('median_income', axis=1, inplace=True)

In [152]:
# df.drop('population' ,axis=1, inplace=True)
df.head(10)
df['population_range'].unique()

array(['2000-4000', '0-2000', '6000-8000', '4000-6000', '8000-10000',
       '10000-12000', '28000-30000', '12000-14000'], dtype=object)

In [153]:
df.head()

,longitude,latitude,population,ocean_proximity,land_value,population_range
0,-118.39,34.12,2184,<1H OCEAN,620001.24,2000-4000
1,-120.42,34.89,855,<1H OCEAN,201500.00,0-2000
2,-118.45,34.25,808,<1H OCEAN,253704.00,0-2000
3,-118.10,33.91,1072,<1H OCEAN,198028.00,0-2000
4,-117.07,32.77,1495,NEAR OCEAN,228160.00,0-2000

In [154]:
df.to_csv('test.csv', index=False)