In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/media/prince/5A4E832F4E83034D/testing /new_test.csv")

In [3]:
df.columns

Index(['longitude', 'latitude', 'population', 'median_income',
       'ocean_proximity', 'land_value'],
      dtype='object')

In [4]:
df

,longitude,latitude,population,median_income,ocean_proximity,land_value
0,-118.39,34.12,2184.0,8.2816,<1H OCEAN,620001.24
1,-120.42,34.89,855.0,5.0099,<1H OCEAN,201500.00
2,-118.45,34.25,808.0,4.3839,<1H OCEAN,253704.00
3,-118.10,33.91,1072.0,3.2708,<1H OCEAN,198028.00
4,-117.07,32.77,1495.0,4.3529,NEAR OCEAN,228160.00
...,...,...,...,...,...,...
4123,-117.29,33.72,1207.0,2.8170,<1H OCEAN,136400.00
4124,-118.24,33.99,1270.0,2.1615,<1H OCEAN,147312.00
4125,-119.72,34.44,663.0,4.7000,<1H OCEAN,364312.00
4126,-117.91,33.63,1081.0,4.9125,<1H OCEAN,416268.00
4127,-118.56,34.19,1246.0,4.1111,<1H OCEAN,267344.00