In [10]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [54]:
df = pd.read_csv("/media/prince/5A4E832F4E83034D/testing /test.csv")

In [55]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [57]:
drop = df.drop(['housing_median_age', 'total_rooms', 'total_bedrooms', 'households'], axis=1)
drop['land_value'] = drop['median_house_value'] * 0.5

In [58]:
drop.columns
drop['land_value'] = drop['land_value'] * 2.48
drop.head()

,longitude,latitude,population,median_income,median_house_value,ocean_proximity,land_value
0,-118.39,34.12,2184.0,8.2816,500001.0,<1H OCEAN,620001.24
1,-120.42,34.89,855.0,5.0099,162500.0,<1H OCEAN,201500.00
2,-118.45,34.25,808.0,4.3839,204600.0,<1H OCEAN,253704.00
3,-118.10,33.91,1072.0,3.2708,159700.0,<1H OCEAN,198028.00
4,-117.07,32.77,1495.0,4.3529,184000.0,NEAR OCEAN,228160.00

In [59]:
drop.drop('median_house_value', axis=1, inplace=True)

In [60]:
drop.to_csv('new_test.csv', index=False)