In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/media/prince/5A4E832F4E83034D/testing /files/train.csv")

In [4]:
df.columns

Index(['longitude', 'latitude', 'ocean_proximity', 'land_value',
       'population_range'],
      dtype='object')

In [5]:
# df.drop('population' ,axis=1, inplace=True)
df.head(10)
df['population_range'].unique()

array(['2000-4000', '0-2000', '6000-8000', '4000-6000', '8000-10000',
       '10000-12000', '12000-14000', '34000-36000', '16000-18000',
       '14000-16000'], dtype=object)

In [6]:
df.head()

   longitude  latitude ocean_proximity  land_value population_range
0    -121.46     38.52          INLAND     89404.0        2000-4000
1    -117.23     33.09      NEAR OCEAN    346704.0        2000-4000
2    -119.04     35.37          INLAND    102548.0           0-2000
3    -117.13     32.75      NEAR OCEAN    139500.0           0-2000
4    -118.70     34.28       <1H OCEAN    295492.0           0-2000

In [7]:
df.to_csv('test.csv', index=False)

In [8]:
df['population_range'].unique()

array(['2000-4000', '0-2000', '6000-8000', '4000-6000', '8000-10000',
       '10000-12000', '12000-14000', '34000-36000', '16000-18000',
       '14000-16000'], dtype=object)

In [9]:
df['ocean_proximity'].unique()

array(['INLAND', 'NEAR OCEAN', '<1H OCEAN', 'NEAR BAY', 'ISLAND'],
      dtype=object)

In [11]:
df['longitude'].max(), df['latitude'].max()

(-114.31, 41.95)

In [13]:
df['longitude'].min(), df['latitude'].min()

(-124.35, 32.54)